main#about {
	section {
		text-align: left;
		width: 80%;
		margin: 4rem auto 2rem auto;

		&:first-of-type {
			margin-top: $headerH + 2rem;
		}

		ul {
			margin: 3rem;

			li {
				text-align: left;
				list-style: circle;
				width: 80%;
				margin: auto;
			}
		}
	}
}
