main#about {
	section {
		text-align: left;
		width: 50%;
		margin: 4rem 0 2rem 0;

		&:first-of-type {
			margin-top: $headerH + 2rem;
		}

		ul {
			margin: 3rem;

			li {
				text-align: left;
				list-style: circle;
				width: 80%;
			}
		}
	}
}
