main#dashboard {
	header {
		h2 {
			text-align: center;
		}
		> ul {
			margin-top: 3rem;
			display: grid;
			grid-template-columns: repeat(3, 33%);
			li {
				position: relative;
				line-height: $regular * 3;
				height: 5rem;
				border-radius: $borderRadius;
				&::before {
					height: 2rem;
					line-height: normal;
				}
				a {
					font-family: $fTitle;
					color: $white;
					font-style: normal;
				}
				svg {
					fill: $white;
					vertical-align: text-bottom;
				}
				ul {
					display: none;
				}
				&:hover ul {
					display: block;
					li {
						border: 1px solid $mainDark;
						background-color: $mainLight;
						height: 4rem;

						&:hover {
							background-color: $mainLightPlus;
						}
					}
				}
			}
		}
	}
	> section {
		margin-top: 5rem;
		display: grid;
		grid-template-columns: repeat(3, 33%);
		article {
			justify-self: center;
			width: 90%;
			height: 40rem;
			text-align: center;

			background-color: $main;
			padding: 1rem;
			border-radius: $borderRadius;

			ul {
				height: 90%;
				display: grid;
				grid-auto-rows: auto;
				li {
					a {
						@extend %pass_link;
						svg {
							fill: $white;
							vertical-align: text-bottom;
						}
					}
				}
			}
		}
	}
}
