@import "_settings.scss";

@mixin center($v, $h) {
	position: absolute;
	@if $v and not $h {
		top: 50%;
		transform: translateY(-50%);
	} @else if $h and not $v {
		left: 50%;
		transform: translateX(-50%);
	} @else if $h and $v {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@mixin footer_section($type) {
	text-align: #{$type};
	padding-#{$type}: 3rem;
}

@mixin track($n) {
	@if $n == 1 {
		--tmain: #ffb502;
		--tlight: #f5ce6f;
		--tdark: #c4910c;
	} @else if $n == 2 {
		--tmain: #09812a;
		--tlight: #0ec642;
		--tdark: #0e4b1f;
	} @else if $n == 3 {
		--tmain: #a10f0f;
		--tlight: #d45c5d;
		--tdark: #701615;
	} @else if $n == 4 {
		--tmain: #2e2bc4;
		--tlight: #7c7cee;
		--tdark: #202170;
	}
}

@mixin deg($number, $width, $child) {
	transform: rotate((360deg / $number) * $child) translate($width)
		rotate(-(360deg / $number) * $child);
}
%pass_link {
	color: $white;
	font-style: normal;

	&:visited {
		color: $white;
	}
}
