main#login {
	position: relative;

	display: grid;
	grid-template-columns: 1fr 1fr;

	&::after {
		content: " ";
		@include center(false, true);
		width: 2px;
		height: 70%;
		border-right: 2px solid $main;
	}
	p {
		text-indent: 0;
		width: 75%;

		margin: 3rem auto 5rem;
	}

	section {
		text-align: center;
		justify-self: center;
	}
	input {
		margin: 0rem auto;
		&[type="checkbox"] {
			vertical-align: middle;
			& + label {
				font-size: $regular * 0.8;
			}
		}
	}
	#pass_forgot {
		font-size: $regular * 0.8;
		color: $mainLightPlus;
		text-shadow: $shadow;

		&:hover {
			color: $mainLight;
		}
	}
}
