main#member {
	header {
		width: 100%;
		margin-left: 3rem;
		position: relative;
		section {
			display: inline-block;
			vertical-align: middle;
			margin-left: 2rem;
			ul {
				li {
					padding: 1rem 2rem 1rem 0;
					display: inline-block;
					svg {
						fill: $white;
					}
				}
			}
		}
		img {
			display: inline-block;
			vertical-align: middle;
			width: 20rem;
			height: 20rem;
			border-radius: 100%;
			object-fit: cover;
			box-shadow: $shadow;
		}
	}
	> section {
		margin-top: 5rem;
		display: grid;
		grid-template-columns: repeat(3, 33%);
		gap: 2rem;
		> article {
			justify-self: center;
			width: 90%;
			height: 40rem;
			text-align: center;

			background-color: $main;
			padding: 1rem;
			border-radius: $borderRadius;
			box-shadow: $shadow;

			a {
				@extend %pass_link;
			}
		}
	}
}
