#player-container {
	height: 100%;
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $mainDark;
	#search {
		display: none;
	}
	z-index: 8;
	#player-open {
		z-index: 7;
		width: 2rem;
		height: 2rem;
		position: absolute;
		top: 3rem;
		right: 3rem;

		&:hover {
			fill: $mainLight;
		}
	}
	svg {
		fill: $white;
	}
	height: 8rem;

	#player-open {
		transform: rotateZ(-90deg);
	}
	#player {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr 3fr 0.5fr;

		#song-info {
			align-self: center;
			justify-self: center;
			> img {
				width: 5rem;
				height: 5rem;
				object-fit: cover;
				border-radius: $borderRadius * 0.4;
			}
			> div {
				display: inline-block;
				vertical-align: middle;
				#current-song {
					font-weight: bold;
				}
				#current-artist {
					a {
						@extend %pass_link;
					}
					font-size: $regular * 0.7;
				}
			}
		}
		#player-controls {
			align-self: center;
			svg {
				&:not(:first-of-type) {
					margin-left: 1rem;
				}
				margin-left: 1rem;
				&:hover {
					fill: $mainLight;
				}
			}
			#player-prev {
				transform: rotateZ(180deg);
			}
		}
		#timebar {
			align-self: center;
			justify-self: center;
			position: relative;
			width: 90%;
			height: 0.4rem;
			background-color: $background;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);

			&::before {
				content: " ";
				display: block;
				width: 60%;
				position: absolute;
				height: 100%;
				background-color: $mainLight;
			}
			&::after {
				content: " ";
				display: block;
				cursor: pointer;
				width: 1.5rem;
				height: 1.5rem;
				box-sizing: border-box;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 60%;
				border-radius: 50%;
				border: 0.3rem solid $main;
				background-color: $mainLight;
			}
		}
	}
	&.close {
		#player {
			height: 100%;
		}
	}

	&.open {
		opacity: 0.99;
		position: sticky;
		height: 80vh;
		#player-open {
			transform: rotateZ(90deg);
		}
		#player {
			height: 8rem;

			&::before {
				content: " ";
				display: block;
				position: absolute;

				width: 95%;
				height: 0.2rem;
				background-color: $white;
				top: 8rem;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		#search {
			a {
				@extend %pass_link;
			}
			height: calc(100% - 10.5rem);

			margin: 1.5rem 3rem;
			display: block;
			#search-section {
				input[type="text"] {
					position: static;
					display: inline-block;
					width: 30rem;
					& + label {
						position: static;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
			#results {
				height: calc(100% - 3rem - 2rem);
				margin-top: 1rem;
				display: grid;
				grid-template-columns: 2fr 1fr 1fr 3fr;
				gap: 1rem;
				> section {
					overflow-y: auto;
					background-color: $background;
					box-shadow: $shadow;
					border-radius: $borderRadius * 0.8;
					h5 {
						margin: auto;
						text-align: center;
						padding: 0.5rem 1rem;
						border-bottom: 1px solid $white;
						width: 25%;
					}
					ul {
						li {
							article {
								position: relative;
								background-color: $white - 150;
								padding: 0.9rem;
								margin: 1rem;
								border-radius: $borderRadius * 0.8;
								box-shadow: $shadow;
							}
						}
					}
					img {
						width: 3.5rem;
						height: 3.5rem;
						object-fit: cover;
						border-radius: $borderRadius * 0.3;
					}
					&#songs {
						ul {
							li {
								article {
									.song-list-info {
										margin-left: 0.5rem;
										width: calc(100% - 7.5rem);
										display: inline-block;
										vertical-align: middle;
										p {
											a {
												font-style: italic;
												font-size: $regular * 0.75;
											}
										}
									}
									> p {
										margin: 1rem 0.5rem;
										width: calc(100% - 3.5rem);
									}
									.song-list-controls {
										@include center(true, false);
										right: 1rem;
										svg {
											display: block;
											width: 2rem;
											height: 2rem;
											margin: 0.5rem 0;
											filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.5));
											&:hover {
												fill: $mainLight;
											}
											&:nth-of-type(2) {
												position: relative;
												top: -0.1rem;
											}
										}
									}
								}
							}
						}
					}

					&#author {
					}
				}
			}
		}
	}
}
