//////////////
//RESPONSIVE//
//////////////

$largeScreen: 1200px;
$regularScreen: 750px;
$smallScreen: 390px;
//////////
//COLORS//
//////////

//MAIN
$background: #383838;
$white: #f7f9f5;
$main: #650076;
$mainLight: #b900d7;
$mainLightPlus: #e366f6;
$mainDark: #2b1f2d;

//////////
///FONTS//
//////////

//IMPORT FONT
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

//DEFINED FONT
$fTitle: "Big Shoulders Display", cursive;
$fRegular: "Quicksand", sans-serif;

//DEFINED FONT SIZE

$regular: 1.6rem;

//////////////
//RESSOURCES//
//////////////

$pattern: url("../ressources/images/logo_pattern/pattern_nb.png");
$logo: url("../ressources/images/logo_pattern/logo.png");
$logo_nb: url("../ressources/images/logo_pattern/logo_nb.png");
$logo_nbi: url("../ressources/images/logo_pattern/logo_nbi.png");

////////////////
///DIMENSIONS///
////////////////

//HEADER

$headerH: 10rem;

//MAIN
$borderRadius: 1.5rem;

//FOOTER

$footerH: 6rem;
$footerAllow: 100%;

////////////
///EFFECT///
////////////

//SHADOW

$shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
