/*SETTINGS*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
body > header a, body > footer a, .button, main#discover section article ul li a {
  color: #f7f9f5;
  font-style: normal;
}

body > header a:visited, body > footer a:visited, .button:visited, main#discover section article ul li a:visited {
  color: #f7f9f5;
}

/***************/
/*****MAIN******/
/***************/
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  background-color: #383838;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  color: #f7f9f5;
  width: 100%;
  height: 100%;
}

body > header {
  position: relative;
  width: 100%;
  height: 10rem;
}

body > header div#logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body > header div#logo h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 4rem;
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
}

body > header nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3rem;
}

body > header nav ul li {
  font-size: 1.44rem;
  float: left;
  margin: 0 1.5rem;
  font-weight: lighter;
}

body > header nav ul li:hover {
  text-shadow: 1px 1px 1px #f7f9f5;
}

body > header > img {
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 10rem;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body > main {
  position: relative;
  z-index: 2;
  margin: 2rem auto 2rem auto;
  width: 90%;
  min-height: calc(100vh - 6rem - 10rem - 4rem);
}

body > main h2,
body > main h3,
body > main h4,
body > main h5,
body > main h6 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: bold;
}

body > main h2 {
  font-size: 3.36rem;
}

body > main h3 {
  font-size: 2.88rem;
}

body > main h4 {
  font-size: 2.56rem;
}

body > main p {
  margin: 2rem 0;
  text-indent: 2rem;
  line-height: 1.92rem;
}

body > footer {
  position: relative;
  background-image: url("../ressources/images/logo_pattern/pattern_nb.png");
  background-size: 12rem;
  height: 6rem;
  width: 100%;
  display: table;
}

body > footer > section {
  vertical-align: middle;
  display: table-cell;
  width: 45%;
}

body > footer > section ul li {
  display: inline-block;
  margin: 0 2rem;
  font-size: 1.12rem;
}

body > footer > section:first-of-type {
  text-align: left;
  padding-left: 3rem;
}

body > footer > section:last-of-type {
  text-align: right;
  padding-right: 3rem;
}

body > footer > a {
  display: table-cell;
  width: 10%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

body > footer a:hover {
  text-shadow: 0px 0px 2px #f7f9f5;
}

/***************/
/*****CLASS*****/
/***************/
.hidden {
  display: none;
}

.button {
  display: block;
  width: 70%;
  height: 4rem;
  text-align: center;
  margin: auto;
  background-color: #b900d7;
  border-radius: 0.75rem;
  font-size: 2.08rem;
  line-height: 4.16rem;
  font-family: "Big Shoulders Display", cursive;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
  cursor: pointer;
}

.button:hover {
  background-color: #e366f6;
}

.disabled {
  position: relative;
}

.disabled * {
  pointer-events: none;
}

.disabled::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.5rem;
}

.disabled:before {
  content: attr(data-disabled);
  display: block;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  width: 80%;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  text-align: center;
  font-size: 1.92rem;
  line-height: 3.84rem;
  background-color: #e366f6;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.disabled:hover::before {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

/**************/
/***GENERAL****/
/**************/
a {
  text-decoration: none;
  font-style: italic;
  color: #e366f6;
}

a:visited {
  color: #b900d7;
}

strong {
  font-weight: bold;
}

select {
  display: block;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.45rem;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  font-size: 1.28rem;
  background-color: #383838;
  color: #f7f9f5;
  border: 1px solid #aaa;
}

select:hover {
  background-color: #6a6a6a;
}

select:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
  outline: none;
}

*:focus-visible {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
  outline: none;
}

input[type="text"],
input[type="password"] {
  display: block;
  height: 3.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.45rem;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  font-size: 1.28rem;
  background-color: #f7f9f5;
  color: #383838;
  border: 1px solid #aaa;
}

input[type="text"]:hover,
input[type="password"]:hover {
  background-color: white;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
  outline: none;
}

input[type="text"] + label,
input[type="password"] + label {
  display: block;
  position: relative;
  top: -7.8rem;
  font-size: 1.28rem;
}

input[type="text"]:required + label::after,
input[type="password"]:required + label::after {
  content: "*";
  position: relative;
  top: 2.2rem;
  padding-left: 1rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  font-family: "Big Shoulders Display", cursive;
  color: #e366f6;
  font-size: 4rem;
}

input[type="submit"] + label {
  width: 10rem;
  margin: 2rem auto;
}

/************/
/***CUSTOM***/
/************/
/*PLAYER*/
#player-container {
  display: none;
}

/*INDEX*/
main#index #video-container {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 50rem;
  min-width: 44.1rem;
  max-height: 25rem;
  min-height: 22.05rem;
  margin: auto;
}

main#index #video-container video {
  width: 100%;
  height: 100%;
}

main#index > section:not(#video) {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main#index > section:not(#video) article {
  -ms-grid-column-align: center;
      justify-self: center;
  min-height: 30rem;
  max-height: 50rem;
  width: 65%;
  padding: 1.5rem;
  background-color: #650076;
  border-radius: 1.5rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

main#index > section:not(#video) article h3 {
  text-align: center;
  display: block;
  width: 80%;
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.445);
  margin: auto;
}

main#index > section:not(#video) article p {
  margin: 2rem 1rem;
  text-indent: 2rem;
}

/*DISCOVER*/
main#discover section {
  width: 50%;
  margin: 4rem 0 2rem 0;
  text-align: justify;
}

main#discover section article {
  background-color: #650076;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 3rem 0;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
  position: relative;
}

main#discover section article p {
  width: 70%;
  display: inline-block;
}

main#discover section article img {
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4rem;
}

main#discover section article ul {
  height: 5rem;
}

main#discover section article ul li {
  margin: 1rem;
  width: calc(30% - 1rem);
  display: inline-block;
}

main#discover section article ul li a {
  font-size: 1.76rem;
}

main#discover section article ul li a svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -0.2rem;
  fill: #f7f9f5;
}

/*ABOUT*/
main#about section {
  width: 50%;
  margin: 4rem 0 2rem 0;
  text-align: justify;
}

main#about section:first-of-type {
  margin-top: 12rem;
}

main#about section ul {
  margin: 3rem;
}

main#about section ul li {
  list-style: circle;
  width: 80%;
}

/*ABOUT*/
main#login {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main#login::after {
  content: " ";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 70%;
  border-right: 2px solid #650076;
}

main#login p {
  text-indent: 0;
  width: 75%;
  margin: 3rem auto 5rem;
}

main#login section {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

main#login input {
  margin: 0rem auto;
}

main#login input[type="checkbox"] {
  vertical-align: middle;
}

main#login input[type="checkbox"] + label {
  font-size: 1.28rem;
}

main#login #pass_forgot {
  font-size: 1.28rem;
  color: #e366f6;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

main#login #pass_forgot:hover {
  color: #b900d7;
}

/*CONTACT*/
main#contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (33%)[3];
      grid-template-rows: repeat(3, 33%);
}

main#contact section {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

main#contact section:nth-of-type(1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

main#contact section:nth-of-type(3) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

main#contact section p {
  width: 75%;
  margin: 2rem auto 4rem auto;
}

main#contact section input,
main#contact section textarea {
  margin: 0 auto;
}

main#contact section textarea {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
  resize: none;
  border-radius: 0.75rem;
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.28rem;
  background-color: #f7f9f5;
  display: block;
}

main#contact section textarea:hover {
  background-color: white;
}

main#contact section textarea:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
  outline: none;
}

main#contact section textarea + label {
  display: block;
  position: relative;
  top: -22.5rem;
  font-size: 1.28rem;
}

main#contact section textarea:required + label::after {
  content: "*";
  position: relative;
  top: 2.2rem;
  padding-left: 1rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  font-family: "Big Shoulders Display", cursive;
  color: #e366f6;
  font-size: 4rem;
}

main#contact section a {
  display: inline-block;
  vertical-align: middle;
  margin: 3rem;
}

main#contact section a svg {
  vertical-align: middle;
  fill: #f7f9f5;
  width: 5rem;
  height: 5rem;
  margin: -2rem 2rem;
}

main#contact section a svg:first-of-type {
  margin-top: 0;
}
/*# sourceMappingURL=main.css.map */