/*SETTINGS*/
@import url("reset.css");
@import "_settings.scss";

/*PLACEHOLDER ACTION*/
@import "_functions.scss";

/***************/
/*****MAIN******/
/***************/
html {
	font-size: 62.5%;
	width: 100%;
	height: 100%;
}
body {
	background-color: $background;
	font-family: $fRegular;
	font-size: $regular;
	color: $white;
	width: 100%;
	height: 100%;

	> header {
		position: relative;
		width: 100%;
		height: $headerH;
		div#logo {
			@include center(true, false);
			img {
				margin-left: 2rem;
				width: 7.5rem;
				height: 7.5rem;
			}
			h1 {
				font-family: $fTitle;
				font-size: $regular * 2.5;
				font-weight: bolder;
				display: inline-block;
				vertical-align: middle;
			}
		}
		nav {
			@include center(true, false);
			right: 3rem;
			ul {
				li {
					font-size: $regular * 0.9;
					float: left;
					margin: 0 1.5rem;
					font-weight: lighter;

					&:hover {
						text-shadow: 1px 1px 1px $white;
					}
				}
			}
		}
		> img {
			position: relative;
			z-index: -1;
			width: 100%;
			min-height: $headerH;
			height: 45vh;
			object-fit: cover;
		}
		a {
			@extend %pass_link;
		}
	}
	> main {
		position: relative;
		z-index: 2;
		margin: 2rem auto 2rem auto;
		width: 90%;
		min-height: calc(100vh - #{$footerH} - #{$headerH} - 4rem);

		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: $fTitle;
			font-weight: bold;
		}

		h2 {
			font-size: $regular * 2.1;
		}
		h3 {
			font-size: $regular * 1.8;
		}
		h4 {
			font-size: $regular * 1.6;
		}
		p {
			margin: 2rem 0;
			text-indent: 2rem;
			line-height: $regular * 1.2;
		}
	}
	> footer {
		position: relative;
		background-image: url("../ressources/images/logo_pattern/pattern_nb.png");
		background-size: $footerH * 2;
		height: $footerH;
		width: 100%;
		display: table;

		> section {
			vertical-align: middle;
			display: table-cell;
			width: 45%;
			ul {
				li {
					display: inline-block;
					margin: 0 2rem;
					font-size: $regular * 0.7;
				}
			}
			&:first-of-type {
				@include footer_section("left");
			}
			&:last-of-type {
				@include footer_section("right");
			}
		}
		> a {
			display: table-cell;
			width: 10%;
			height: 100%;
			text-align: center;
			vertical-align: middle;
		}
		a {
			@extend %pass_link;

			&:hover {
				text-shadow: 0px 0px 2px $white;
			}
		}
	}
}

/***************/
/*****CLASS*****/
/***************/

.hidden {
	display: none;
}
.button {
	@extend %pass_link;
	display: block;
	width: 70%;
	height: 4rem;
	text-align: center;
	margin: auto;
	background-color: $mainLight;
	border-radius: $borderRadius * 0.5;
	font-size: $regular * 1.3;
	line-height: 2 * $regular * 1.3;
	font-family: $fTitle;
	box-shadow: $shadow;
	cursor: pointer;
	&:hover {
		background-color: $mainLightPlus;
	}
	a {
		display: block;
		width: 100%;
	}
}
.disabled {
	position: relative;
	* {
		pointer-events: none;
	}
	&::after {
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.274);
		position: absolute;
		top: 0;
		left: 0;
		border-radius: $borderRadius;
	}
	&:before {
		content: attr(data-disabled);
		display: block;
		opacity: 0;
		transition: opacity 1s ease-in-out;
		@include center(true, true);
		z-index: 5;
		font-family: $fRegular;
		font-style: italic;
		width: 80%;
		height: 4rem;
		padding: 0.5rem;
		border-radius: $borderRadius * 0.5;
		text-align: center;
		font-size: $regular * 1.2;
		line-height: $regular * 2 * 1.2;
		background-color: $mainLightPlus;
		transition: opacity 0.2s ease-in-out;
	}
	&:hover {
		&::before {
			opacity: 1;
			transition: opacity 0.2s ease-in-out;
		}
	}
}
/**************/
/***GENERAL****/
/**************/

a {
	text-decoration: none;
	font-style: italic;
	color: $mainLightPlus;

	&:visited {
		color: $mainLight;
	}
}
strong {
	font-weight: bold;
}
select {
	display: block;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	border-radius: $borderRadius * 0.3;
	margin: 0;
	font-family: $fRegular;
	font-weight: bold;
	padding: 0.6rem 1.4rem 0.5rem 0.8rem;
	font-size: $regular * 0.8;
	background-color: $background;
	color: $white;
	border: 1px solid #aaa;

	&:hover {
		background-color: $background + 50;
	}
	&:focus {
		border-color: #aaa;
		box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
		outline: none;
	}
}
*:focus-visible {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
	outline: none;
}
input[type="text"],
input[type="password"] {
	display: block;
	height: 3.5rem;
	box-sizing: border-box;
	border-radius: $borderRadius * 0.3;
	margin: 0;
	font-family: $fRegular;
	font-weight: bold;
	padding: 0.6rem 1.4rem 0.5rem 0.8rem;
	font-size: $regular * 0.8;
	background-color: $white;
	color: $background;
	border: 1px solid #aaa;

	&:hover {
		background-color: $white + 255;
	}
	&:focus {
		border-color: #aaa;
		box-shadow: 0 0 1px 3px rgba(236, 59, 252, 0.7);
		outline: none;
	}
	& + label {
		display: block;
		position: relative;
		top: -7.8rem;
		font-size: $regular * 0.8;
	}
	&:required + label {
		&::after {
			content: "*";
			position: relative;
			top: 2.2rem;
			padding-left: 1rem;
			display: inline-block;
			width: 1rem;
			height: 1rem;
			font-family: $fTitle;
			color: $mainLightPlus;
			font-size: $regular * 2.5;
		}
	}
}
input[type="submit"] + label {
	width: 10rem;
	margin: 2rem auto;
}

/************/
/***CUSTOM***/
/************/

/*PLAYER*/
@import "_player.scss";

/*INDEX*/
@import "_index.scss";

/*DISCOVER*/
@import "_discover.scss";

/*ABOUT*/
@import "_about.scss";

/*ABOUT*/
@import "_login.scss";

/*CONTACT*/
@import "_contact.scss";

/*DASHBOARD*/
@import "_dashboard.scss";

/*MEMBER PAGE*/
@import "_member.scss";

/*COMPOSE*/
@import "_compose.scss";

/**************/
/**RESPONSIVE**/
/**************/

@import "responsive/_responsive.scss";
