&#discover {
	> section {
		width: 100%;
		img {
			height: 6.4rem;
			width: 6.4rem;
		}
		ul {
			li {
				margin: 0.2rem;
				width: calc(30% - 0.2rem);
				a {
					font-size: $regular * 0.8 !important;
				}
			}
		}
	}
}
