&#member {
	> header {
		text-align: center;
		width: 100%;
		margin: auto;
		section {
			display: block;
			margin: 1rem 0 0;
		}
	}
	> section {
		margin-top: 1rem;
		grid-template-columns: repeat(2, 50%);
		position: relative;
		left: -1rem;
	}
}
