@import url("../css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
body > header a {
  color: #f7f9f5;
  font-style: normal;
}

body > header a:visited {
  color: #f7f9f5;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  background-color: #383838;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  color: #f7f9f5;
}

body > header {
  position: relative;
  width: 100%;
  height: 15rem;
}

body > header div#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body > header div#logo a {
  text-decoration: none;
}

body > header div#logo a img {
  margin: 1rem;
  display: block;
  width: 7.5rem;
  height: 7.5rem;
}

body > header div#logo a h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 4rem;
  font-weight: bolder;
  display: block;
}

body > header > img {
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 10rem;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body > main > section {
  width: 80%;
  margin: 2rem auto;
  background-color: #650076;
  padding: 1.5rem;
  border-radius: 1.2rem;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

body > main > section h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.88rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: center;
}

body > main > section p {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  text-indent: 3rem;
  line-height: 1.92rem;
}

body > main > section ul li article {
  padding: 1rem;
  background-color: #390043;
  border-radius: 1.5rem;
  -webkit-box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.5);
          box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

body > main > section ul li article h3 {
  margin-top: 0.5rem;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.4rem;
  font-weight: bold;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 1px solid #f7f9f5;
  width: 33%;
  padding-bottom: 0.5rem;
}

body > main > section ul li article ul {
  width: 70%;
  margin: auto;
}

body > main > section ul li article ul li {
  list-style: square;
  margin-bottom: 1rem;
}

body > footer {
  position: relative;
  background-image: url("../ressources/images/logo_pattern/pattern_nb.png");
  background-size: 14rem;
  height: 7rem;
  width: 100%;
  display: table;
}

body > footer > a {
  display: table-cell;
  width: 10%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  header a img {
    display: inline-block !important;
    margin-left: 2rem;
  }
  header h1 {
    display: inline-block !important;
    vertical-align: middle;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main section:first-of-type {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
}
/*# sourceMappingURL=presentation.css.map */