&#player-container {
	#song-info {
		> div {
			#current-song {
				font-size: $regular * 0.7;
			}
		}
	}
	#player-controls {
		svg {
			&:nth-of-type(5) {
				display: none;
			}
		}
	}

	&.open {
		#search {
			min-height: calc(100% - 15rem);
			height: calc(100% - 12.5rem);
			#results {
				margin-top: 1rem;
				display: block;
				> section {
					display: block;
					margin-bottom: 1.5rem;
				}
			}
		}
	}
}
