<section id="songs">
                    <h5>Songs</h5>
                    <ul>
                        <li>
                            <article>
                                <img src="ressources/images/footage/degrade.jpg" alt="image du morceau">
                                <div class="song-list-info">
                                    <h6>Songs 1 </h6>
                                    <p><a href="member.html?m=HadrienVerrier">Hadrien Verrier</a></p>
                                </div>

                                <div class="song-list-controls">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <title>Play Now</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg>
                                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                                        clip-rule="evenodd">
                                        <title>Add after the current song</title>
                                        <path
                                            d="M20 15h4.071v2h-4.071v4.071h-2v-4.071h-4.071v-2h4.071v-4.071h2v4.071zm-8 6h-12v-2h12v2zm0-4.024h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <title>Add to my Galaxy</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <img src="ressources/images/footage/degrade.jpg" alt="image du morceau">
                                <div class="song-list-info">
                                    <h6>Songs 2 </h6>
                                    <p><a href="member.html?m=HadrienVerrier">Hadrien Verrier</a></p>
                                </div>

                                <div class="song-list-controls">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <title>Play Now</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg>
                                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                                        clip-rule="evenodd">
                                        <title>Add after the current song</title>
                                        <path
                                            d="M20 15h4.071v2h-4.071v4.071h-2v-4.071h-4.071v-2h4.071v-4.071h2v4.071zm-8 6h-12v-2h12v2zm0-4.024h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <title>Add to my Galaxy</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <img src="ressources/images/footage/degrade.jpg" alt="image du morceau">
                                <div class="song-list-info">
                                    <h6>Songs 3 </h6>
                                    <p><a href="member.html?m=HadrienVerrier">Hadrien Verrier</a></p>
                                </div>

                                <div class="song-list-controls">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <title>Play Now</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg>
                                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                                        clip-rule="evenodd">
                                        <title>Add after the current song</title>
                                        <path
                                            d="M20 15h4.071v2h-4.071v4.071h-2v-4.071h-4.071v-2h4.071v-4.071h2v4.071zm-8 6h-12v-2h12v2zm0-4.024h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <title>Add to my Galaxy</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg>
                                </div>
                            </article>
                        </li>
                        <li> <a href="search.html?q=HadrienVerrier">See more</a></li>
                    </ul>
                </section>
                <section id="author">
                    <h5>Authors</h5>
                    <ul>
                        <li>
                            <article>
                                <img src="ressources/images/footage/hadrien.jpg" alt="Avatar de Hadrien Verrier"
                                    width="50">
                                <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg></a>
                                <a href="member.html?m=HadrienVerrier"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24">
                                        <title>Click Here to have more info</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg></a>
                                <h6>Hadrien Verrier</h6>

                                <section>
                                    <h6 class="hidden">Tags</h6>
                                    <ul>
                                        <li>EDM</li>
                                        <li>Lo-fi</li>
                                        <li>Funk</li>
                                    </ul>
                                </section>

                            </article>
                        </li>
                        <li>
                            <article>
                                <img src="ressources/images/footage/hadrien.jpg" alt="Avatar de Hadrien Verrier"
                                    width="50">
                                <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg></a>
                                <a href="member.html?m=HadrienVerrier"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24">
                                        <title>Click Here to have more info</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg></a>
                                <h6>Hadrien Verrier</h6>

                                <section>
                                    <h6 class="hidden">Tags</h6>
                                    <ul>
                                        <li>EDM</li>
                                        <li>Lo-fi</li>
                                        <li>Funk</li>
                                    </ul>
                                </section>

                            </article>
                        </li>
                        <li>
                            <article>
                                <img src="ressources/images/footage/hadrien.jpg" alt="Avatar de Hadrien Verrier"
                                    width="50">
                                <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg></a>
                                <a href="member.html?m=HadrienVerrier"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24">
                                        <title>Click Here to have more info</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg></a>
                                <h6>Hadrien Verrier</h6>

                                <section>
                                    <h6 class="hidden">Tags</h6>
                                    <ul>
                                        <li>EDM</li>
                                        <li>Lo-fi</li>
                                        <li>Funk</li>
                                    </ul>
                                </section>

                            </article>
                        </li>
                        <li> <a href="search.html?q=HadrienVerrier">See more</a></li>
                    </ul>
                </section>
                <section id="tags">
                    <h5>Tags</h5>
                    <ul>
                        <li><a href="search.html?f=EDM">
                                <article>
                                    <h6>EDM</h6>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg>
                                </article>
                            </a></li>
                        <li><a href="search.html?f=LOFI">
                                <article>
                                    <h6>lofi</h6>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg>
                                </article>
                            </a></li>
                        <li><a href="search.html?f=Funk">
                                <article>
                                    <h6>Funk</h6>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg>
                                </article>
                            </a></li>
                        <li> <a href="search.html?q=HadrienVerrier">See more</a></li>
                    </ul>
                </section>
                <section id="galaxy">
                    <h5>My galaxy</h5>
                    <h5>Authors</h5>
                    <ul>
                        <li>
                            <article>
                                <img src="ressources/images/footage/hadrien.jpg" alt="Avatar de Hadrien Verrier"
                                    width="50">
                                <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg></a>
                                <a href="member.html?m=HadrienVerrier"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24">
                                        <title>Click Here to have more info</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg></a>
                                <h6>Hadrien Verrier</h6>

                                <section>
                                    <h6 class="hidden">Tags</h6>
                                    <ul>
                                        <li>EDM</li>
                                        <li>Lo-fi</li>
                                        <li>Funk</li>
                                    </ul>
                                </section>

                            </article>
                        </li>
                        <li>
                            <article>
                                <img src="ressources/images/footage/hadrien.jpg" alt="Avatar de Hadrien Verrier"
                                    width="50">
                                <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg></a>
                                <a href="member.html?m=HadrienVerrier"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24">
                                        <title>Click Here to have more info</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg></a>
                                <h6>Hadrien Verrier</h6>

                                <section>
                                    <h6 class="hidden">Tags</h6>
                                    <ul>
                                        <li>EDM</li>
                                        <li>Lo-fi</li>
                                        <li>Funk</li>
                                    </ul>
                                </section>

                            </article>
                        </li>
                        <li>
                            <article>
                                <img src="ressources/images/footage/hadrien.jpg" alt="Avatar de Hadrien Verrier"
                                    width="50">
                                <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                                    </svg></a>
                                <a href="member.html?m=HadrienVerrier"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24">
                                        <title>Click Here to have more info</title>
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                                    </svg></a>
                                <h6>Hadrien Verrier</h6>

                                <section>
                                    <h6 class="hidden">Tags</h6>
                                    <ul>
                                        <li>EDM</li>
                                        <li>Lo-fi</li>
                                        <li>Funk</li>
                                    </ul>
                                </section>

                            </article>
                        </li>
                        <li> <a href="search.html?q=HadrienVerrier">See more</a></li>
                    </ul>
                </section>