<main id="about">
        <!-- ABOUT SECTION-->
        <section>
            <h2>What about this project ?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi voluptates tempora error
                consequatur consequuntur possimus totam odio. Possimus nam consectetur sed veniam, dolore laboriosam
                fuga. Qui repellendus dolor minus exercitationem illo nobis neque labore obcaecati culpa, ea temporibus
                alias. Ipsa perferendis fuga vel voluptatibus natus dolores saepe. Aliquid vel ratione odit amet minus
                assumenda accusamus sint nam dolorum, obcaecati autem magnam cupiditate aperiam in maxime quibusdam
                voluptatem temporibus suscipit repudiandae pariatur recusandae quasi? Aspernatur accusantium quibusdam
                eaque ipsum molestias dolore maiores quas alias assumenda consequuntur pariatur placeat vitae
                voluptatibus, obcaecati suscipit eos? Deserunt ut magnam provident architecto mollitia hic ipsa numquam
                vero iure, alias voluptatem vitae minima fugiat natus laboriosam doloremque velit, blanditiis, quaerat
                maiores omnis voluptas. Nihil, eum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, vel enim? Placeat, iste sed ratione
                blanditiis velit ea sapiente veritatis nostrum inventore obcaecati porro ipsa doloremque illo recusandae
                provident doloribus tenetur dicta deserunt? Praesentium nemo, eius deserunt nostrum provident id vitae
                eum minima nam mollitia reiciendis corporis iusto modi ullam quae assumenda. Cumque adipisci commodi cum
                expedita voluptas, architecto debitis iure corporis eos hic accusamus sequi consequuntur, dolor qui
                veniam.</p>
        </section>
        <section>
            <h2>What about us ?</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates deserunt excepturi commodi beatae
                optio fugiat impedit qui similique corporis? Quas explicabo eum atque repellat modi est voluptas nemo,
                illum quaerat ab officiis ratione quasi soluta vero aut asperiores obcaecati tenetur sapiente tempore
                doloremque temporibus culpa nam maxime dolor. Quaerat, corrupti suscipit. Maiores tempora laudantium
                facilis quis. Nobis esse quidem alias.</p>
        </section>
        <section>
            <h2>Q&A !</h2>
            <ul>
                <li>
                    <h3>Question 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam consectetur voluptates eius
                        consequatur illum voluptatum eaque placeat fuga molestias architecto.</p>
                </li>
                <li>
                    <h3>Question 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam consectetur voluptates eius
                        consequatur illum voluptatum eaque placeat fuga molestias architecto.</p>
                </li>
                <li>
                    <h3>Question 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam consectetur voluptates eius
                        consequatur illum voluptatum eaque placeat fuga molestias architecto.</p>
                </li>
                <li>
                    <h3>Question 4</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam consectetur voluptates eius
                        consequatur illum voluptatum eaque placeat fuga molestias architecto.</p>
                </li>
                <li>
                    <h3>Question 5</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam consectetur voluptates eius
                        consequatur illum voluptatum eaque placeat fuga molestias architecto.</p>
                </li>
            </ul>
        </section>

    </main>