<header>
        <!-- LOGO-->
        <div id="logo">
            <a href="index.php" title="Go to Home Page">
                <img src="ressources/images/logo_pattern/logo.png" alt="logo d'ORPH&Eacute;A" width="100">
                <h1>ORPH&Eacute;A</h1>
            </a>
        </div>
        <!-- MENU-->
        <nav>
            <ul>
                <li><p data-href="index" title="Go to Home Page"><strong>HOME</strong></p></li>
                <li><p data-href="about" title="About the website and us who support this project !">ABOUT</p></li>
                <li><p data-href="login" title="Connect or Create an account">LOGIN/SIGNUP</p></li>
            </ul>
        </nav>
        <!--BACKGROUND PICTURE-->
        <img src="ressources/images/footage/background_main.jpg" width="500" alt="Music Machine for composition">

    </header>