
<header>
        <!-- LOGO-->
        <div id="logo">
            <a href="index.php" title="{{misc.home_page_title}}">
                <img src="ressources/images/logo_pattern/logo.png" alt="{{misc.logo_alt}}" width="100">
                <h1>ORPH&Eacute;A</h1>
            </a>
        </div>
        <!-- MENU-->
        {% include 'nav.html.twig' %}
        <!--BACKGROUND PICTURE-->
        <img src="ressources/images/footage/background_main.jpg" width="500" alt="{{header.background_alt}}">

    </header>

