
<header>
        <!-- LOGO-->
        <div id="logo">
            <a href="index.php" title="{{misc.misc_home_page_title}}">
                <img data-translate="misc_logo_alt" src="ressources/images/logo_pattern/logo.png" alt="{{misc.misc_logo_alt}}" width="100">
                <h1>ORPH&Eacute;A</h1>
            </a>
        </div>
        <!-- MENU-->
        {% include 'nav.html.twig' %}
        <!--BACKGROUND PICTURE-->
        <img data-type='h_background_alt' src="ressources/images/footage/background_main.jpg" width="500" alt="{{header.h_background_alt}}">

    </header>

