
<main id="index">
        <!-- VIDEO-->
        <section id="video">
            <h2 class="hidden">Discover a short video introducing to ORPH&Eacute;A</h2>
            <div id="video-container">
                <video width="160" height="90" controls>
                    <source src="#" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </section>

        <section>
            <!-- CARDS-->
            <h2 class="hidden">Discover more</h2>

            <article>
                <h3>LISTEN</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                </p>
                <a href="search.html" class="button">DISCOVER SONGS</a>
            </article>
            <article>
                <h3>COMPOSE</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                </p>
                <a href="compose.html" class="button">MY FIRST MUSIC</a>
            </article>
            <article class="disabled" data-disabled="SOON AVAILABLE">
                <h3>LEARN</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                </p>
                <a href="learn.html" class="button">MY FIRST LESSON</a>
            </article>
        </section>
    </main>