{% include 'doctype.html.twig'%}
<body>
	<!-- COMPOSE SUB MENU -->
	<div id='note-menu' class="compose-menu hidden">
		<ul>
		{% for letter in "A".."G" %}
			<li>{{letter}}</li>
		{% endfor %}
		</ul>
	</div>
	<div id="octave-menu" class="compose-menu hidden">
		<ul>
		{% for number in 1..7 %}
			<li>{{number}}</li>
		{% endfor %}
		</ul>
	</div>
	<div id="mod-menu" class="compose-menu hidden">
		<ul>
			<li>#</li>
			<li>&#9837;</li>
			<li>&#10683;</li>
		</ul>
	</div>
	{% include 'loader.html.twig' %}

	{% include 'header.html.twig' %}

	{% include page ~ ".html.twig" %}

	{% include 'player.html.twig' %}

	{% include 'footer.html.twig' %}


</body></html>
