{% include 'doctype.html.twig'%}
<body>
    {% include 'header.html.twig' %}

    {% include page ~ ".html.twig" %}
        <!--PLAYER-->
    {% include 'player.html.twig' %}

    {% include 'footer.html.twig' %}

    {% include 'loader.html.twig' %}
</body>
</html>