<section id="songs">
    <h5>Songs</h5>
    <ul>
        {% for song in songs %}
        <li>
            <article id="loop-{{song.id_loop}}">
                <img src="ressources/images/footage/degrade.jpg" alt="image du morceau">
                <div class="song-list-info">
                    <h6>{{song.name}}</h6>
                    <p><a class="nr" href="member.html?m={{song.nickname}}">{{song.nickname}}</a></p>
                </div>

                <div class="song-list-controls">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>Play Now</title>
                        <path
                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                    </svg>
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                        clip-rule="evenodd">
                        <title>Add after the current song</title>
                        <path
                            d="M20 15h4.071v2h-4.071v4.071h-2v-4.071h-4.071v-2h4.071v-4.071h2v4.071zm-8 6h-12v-2h12v2zm0-4.024h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z" />
                    </svg>
                    {% if song.id_loop in galaxyList %}
                    <svg class="added" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>Remove to my Galaxy</title>
                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-12v-2h12v2z"/>
                    </svg>
                    {% else %}
                    <svg class="toAdd" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>Add to my Galaxy</title>
                        <path
                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
                    </svg>
                    {% endif %}
                   
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>
</section>
