<section id="tags">
    <h5>Tags</h5>
    <ul>
        <li><a href="search.html?f=EDM">
                <article>
                    <h6>EDM</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                    </svg>
                </article>
            </a></li>
        <li><a href="search.html?f=LOFI">
                <article>
                    <h6>lofi</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                    </svg>
                </article>
            </a></li>
        <li><a href="search.html?f=Funk">
                <article>
                    <h6>Funk</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
                    </svg>
                </article>
            </a></li>
        <li> <a class="nr" href="search.html?q=HadrienVerrier">See more</a></li>
    </ul>
</section>
