<main id="terms">
    <section>
        <h2>Conditions Générales d'Utilisation et RGPD</h2>
        
        <p>En vigueur au 01/01/2021</p>
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site http://bulle-de-verre.ovh les présentes mentions légales.</p>
        <p>La connexion et la navigation sur le site https://www.orphea-project.com par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
        <p>Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>
    </section>

    <section>
        <h3>ARTICLE 1 : L’éditeur</h3>

        <p>L’édition et la direction de la publication du site https://www.orphea-project.com est assurée par Verrier Hadrien dont l'adresse e-mail est contact@orphea-project.com .</p>

    </section>

    <section>
        <h3>ARTICLE 2 : L’hébergeur</h3>

        <p>L'hébergeur du site https://www.orphea-project.com est la Société OVH SAS, dont le siège social est situé au 2 rue Kellermann - 59100 Roubaix - France , avec le numéro de téléphone : 1007.</p>
    </section>

    <section>
        <h3>ARTICLE 3 : Accès au site</h3>

        <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>
        <p>En cas de modification, interruption ou suspension des services le site https://www.orphea-project.com ne saurait être tenu responsable.</p>

    </section>

    <section>
            <h3>ARTICLE 4 : Collecte des données</h3>

            <p>Le site https://www.orphea-project.com ne collecte pas vos données à des fins publicitaires. Les seules données collectées sont votre email lors de la création de compte et cette donnée est définitivement détruite lorsque votre compte est supprimé. Vous pouvez demander vos données à l'adresse contact@orphea-project.com.</p>
    </section>

    <section id="cookies-rules">
            <h3>ARTICLE 5 : Cookies</h3>

            <p>L'utilisateur est informé, lors de sa première connexion, que le site utilise des cookies afin d'améliorer l'expérience utilisateur. L'utilisateur peut refuser ou accepter les cookies et ce choix peut être changé tout au long de l'expérience de l'utilisateur grâce à une option sur le bas de page intitulée "Cookies".</p>
            <p>Les données stockées dans les cookies ne sont pas destinées à des fins publicitaires mais seulement pour stocker la langue du site choisie par l'utilisateur. Ce cookie est stocké pour une durée de 30 jours dans le navigateur de l'utilisateur. Le fait de refuser les cookies supprimera automatiquement ce cookie s'il est déjà présent.</p>
    </section>

    <section>
            <h3>ARTICLE 6 : Propriété intellectuelle</h3>

        <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site https://www.orphea-project.com, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
        <p>L'utilisateur s'engage à ne pas reproduire d'oeuvres protégées déja existantes.</p>
    </section>
    <section>
            <h3>ARTICLE 7 : Crédits</h3>

        <p>Toute icône non créée par l'Éditeur, provient du site https://iconmonstr.com/. Toute photographie d'illustration provient uniquement du site https://unsplash.com/.</p>
    </section>


</main>