/* LARGE SCREEN*/
@media only screen and (min-width: $largeScreen) {
	/*HEADER*/
	body {
		> header {
			div#logo {
				img {
					margin-left: 7rem;
				}
			}
			nav {
				right: 8rem;
			}
		}
		> main {
			margin: 4rem auto 4rem auto;
			width: 85%;
			min-height: calc(100vh - #{$footerH} - #{$headerH} - 8rem);
		}
	}
}
/* REGULAR SCREEN*/
@media only screen and (min-width: $regularScreen) and (max-width: $largeScreen - 1) {
	body {
		> main {
			@import "regular/_dashboard.scss";
		}
		> aside {
			@import "regular/_player.scss";
		}

		> footer {
			> section {
				ul {
					width: 100% !important;
					margin: 0 !important;
					li {
						margin: 0 0.5rem !important;
						select {
							display: inline-block;
							max-width: 100%;
							font-size: $regular * 0.6;
						}
					}
				}
				&:first-of-type {
					padding-left: 2rem;
				}
				&:last-of-type {
					padding-right: 2rem;
				}
			}
		}
	}
}

/*SMALL SCREEN*/
@media only screen and (min-width: $smallScreen + 1) and (max-width: $regularScreen - 1) {
	body {
		> header {
			div#logo {
				@include center(true, true);
				top: 40%;

				img {
					width: 4rem;
					height: 4rem;
					margin: 0;
				}
				h1 {
					font-size: $regular * 2;
				}
			}
			nav {
				text-align: center;
				width: 90%;
				top: 75%;
				left: 50%;
				transform: translateX(-50%);
				li {
					margin: 0 !important;

					width: 20%;
					float: none !important;
					display: inline-block !important;
					font-size: $regular * 0.8 !important;
				}
			}
		}
		> main {
			@import "small/_index.scss";

			@import "small/_login.scss";

			@import "small/_contact.scss";

			@import "small/_dashboard.scss";

			@import "small/_member.scss";

			@import "small/_compose.scss";
		}
		> aside {
			@import "regular/_player.scss";
			@import "small/_player.scss";
		}
		> footer {
			img {
				width: 3.5rem !important;
				height: 3.5rem !important;
			}
			> section {
				ul {
					width: 100% !important;
					margin: 0 !important;
					li {
						display: block;
						margin: 0.5rem 0.5rem !important;
						select {
							display: inline-block;
							max-width: 100%;
							max-width: 10rem;
							font-size: $regular * 0.6;
						}
					}
				}
				&:first-of-type {
					padding-left: 2rem;
				}
				&:last-of-type {
					padding-right: 2rem;
				}
			}
		}
	}
}

/*SMARTPHONE*/
@media only screen and (max-width: $smallScreen) {
	body {
		min-width: 30rem;
		> header {
			div#logo {
				left: -1rem;

				img {
					width: 4rem;
					height: 4rem;
				}
				h1 {
					font-size: $regular * 1.5;
				}
			}
			nav {
				right: 0.5rem;
				li {
					margin: 0 0.5rem !important;
					font-size: $regular * 0.7 !important;
					&:first-of-type {
						display: none;
					}
				}
			}
		}
		> main {
			@import "small/_index.scss";
			@import "smartphone/_index.scss";

			@import "small/_login.scss";

			@import "small/_contact.scss";

			@import "small/_dashboard.scss";

			@import "smartphone/_member.scss";

			@import "smartphone/_compose.scss";
		}
		> aside {
			@import "regular/_player.scss";
			@import "small/_player.scss";
			@import "smartphone/_player.scss";
		}
		> footer {
			img {
				width: 3.5rem !important;
				height: 3.5rem !important;
			}
			> section {
				ul {
					width: 100% !important;
					margin: 0 !important;
					li {
						display: block;
						margin: 0.5rem 0.5rem !important;
						select {
							display: inline-block;
							max-width: 100%;
							max-width: 10rem;
							font-size: $regular * 0.6;
						}
					}
				}
				&:first-of-type {
					padding-left: 2rem;
				}
				&:last-of-type {
					padding-right: 2rem;
				}
			}
		}
	}
}
