/**MAIN**/

/* LARGE SCREEN*/
@media only screen and (min-width: $largeScreen) {
	/*HEADER*/
	body {
		> header {
			div#logo {
				img {
					margin-left: 7rem;
				}
			}
			nav {
				right: 8rem;
			}
		}
		> main {
			margin: 4rem auto 4rem auto;
			width: 85%;
			min-height: calc(100vh - #{$footerH} - #{$headerH} - 8rem);
		}
	}
}
/* REGULAR SCREEN*/
@media only screen and (min-width: $regularScreen) {
	body {
		> main {
		}
	}
}

/*SMARTPHONE*/
@media only screen and (max-width: $smartphoneScreen) {
	body {
		min-width: 30rem;
		> header {
			div#logo {
				left: -1rem;

				img {
					width: 4rem;
					height: 4rem;
				}
				h1 {
					font-size: $regular * 2;
				}
			}
			nav {
				right: 0.5rem;
				li {
					margin: 0 0.5rem;
					&:first-of-type,
					&:nth-of-type(2) {
						display: none;
					}
				}
			}
		}
		> main {
			/*INDEX*/
			@import "smartphone/_index.scss";

			/*ABOUT*/
			@import "smartphone/_about.scss";

			/*LOGIN*/
			@import "smartphone/_login.scss";
		}
		> footer {
			select {
				transform: scale(0.7);
				position: relative;
				left: 2rem;
			}
		}
	}
}
